/***Might change all height into fixed px element***/

:root {
    --header-color: #575f6d;
    --nav-bar-color: #424b5a;
    --background-color: #2d3748;
    --font: "Nunito", sans-serif;
    --border-setting: solid 1px black;
    --border-radius: 10px;
}

html, body, button {
    font-family: var(--font);
}

html, body {
    margin: 0;
    padding: 0;
    color: aliceblue;
}

/**Add media query so that the size of the body be fixed after the height is scaled down enough**/

html {
    height: 100%; 
}

body {
    
    height: 100%; 
    display: flex; 
    flex-direction: column;
}

header, .nav-bar, .user-section, .info-section {
    border: solid 1px black;
}

.mol-info {
    border-left: var(--border-setting);
    border-bottom: var(--border-setting);
}

.spec-desc {
    border-left: var(--border-setting);
}

/***Header***/
header {
    height: 10%;
    font-weight: 800;
    font-size: 2em;
    border-bottom: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 1.5%;
    background-color: var(--header-color);
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .logo {
    width: 10%;
} */

/***Navigation Bar***/
.nav-bar {
    display: flex;
    justify-content: center;
    background-color: var(--nav-bar-color);
}

.nav-bar-section, .dropdown {
    height: 100%;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}

.dropdown {
    height: 50%;
}

.dropdown:hover, .nav-bar-section:hover {
    background-color: var(--header-color);
    color: #6193eb;
}

/***Main Section + General Styling***/
.main-section {
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
}

.info-section, 
.user-section {
    height: 70%;
}

/***Info Section**/
.info-section {
    display: flex;
    width: 60%;
    border-radius: var(--border-radius) ;
}

.spec-info {
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.si-left-section {
    width: 30%;
}

.mol-info {
    position: relative;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.spec-desc {
    position: relative;
    height: 56.5%;
    padding: 3%;
    overflow-y: scroll;
}

body::-webkit-scrollbar, .spec-desc::-webkit-scrollbar {
    display: none;
}

#sample_molecule {

    border-radius: var(--border-radius);
}

#sample_spectrum {

    border-radius: var(--border-radius);
    
}

/***User Section**/
.user-section {
    width: 30%;
    border-radius: var(--border-radius);
    background-color: aliceblue;
    overflow: scroll;
    z-index: 9;
}

.u-s-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.u-s-name {
    padding: 1%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frag-table-button {
    width: 70%;
    padding: 2%;
    border: var(--border-setting);
    border-radius: var(--border-radius);
}

.frag-table-button:hover {
    background-color: #c6c6c6;
    color: #3674e0;
}

.frag-table {
    position: absolute;
    display: grid;
    z-index: 9;
    background: rgba(3, 79, 212, 0.5);
    border-radius: var(--border-radius);
    width: 30%;
    height: 300px;
    bottom: 15%;
    color: black;
    display: none;
    overflow-y: scroll;
    justify-items: center;
    align-items: center;
    z-index: 9;
}

.overlay {
    position: absolute; 
    display: none;
    background-color: rgba(128,128,128,0.7); 
    height: 100%; 
    width: 100%;
    z-index: 8;
}

#del-frag-button {
    width: 20%;
}

.frag-canvas {
    width: 100%;
    height: 100%;
}

.user-section::-webkit-scrollbar {
    display: none;
}

.frag-table::-webkit-scrollbar {
    display: none;
}

.f-t-general-instr {
    text-align: center;
    cursor: move;
}

.frag-table-items {
    cursor: pointer;
}

/***Copyright***/
.copyright {
    background: var(--background-color);
    text-align: center;
}

.fa-regular.fa-circle-question {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}

.u-s-right-header {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.spec-instr, .mol-instr, .spec-desc-instr {
    position: absolute;
}

.frag-space-instr {
    color: black;
}

.frag-canvas {
    background-color: none;
}

.spec-instr {
    color: black;
    right: 15px;
    top: 10px;
}

.mol-instr, .spec-desc-instr {
    color: #a3b1c9;
    right: 0;
    top: 0;
}

/***Mobile Optimization***/
@media screen and (max-width: 480px) {
    header {
        font-size: 100%;
    }
}
@media screen and (orientation: portrait) {
    .main-section {
        flex-direction: column;
        padding: 15px
    }
    .user-section, .info-section {
        height: 37%;
    }
        
    .user-section {
        width: 90%;
    } 
    
    .info-section {
        width: 95%;
    }

    .frag-table {
        width: 85%;
        height: 30%;
    }

    .info-section {
        flex-direction: column;
        height: 60%;
    }

    .spec-info {
        width: 100%;
        height: 50%;
    }

    .si-left-section {
        display: flex;
        flex-direction: row !important;
        width: 100%;
        height: 50%;
        
    }

    .mol-info {
        width: 70%;
        height: 100%;
        border-top: var(--border-setting);
        border-bottom: 0;
    }

    .spec-desc {
        width: 70%;
        height: 83%;
        border-top: var(--border-setting);
    }

}

.submenu {
    position:absolute;
    list-style-type: none;
    left: 410px;
    top: 110px;
    margin: 0;
    padding: 0;
}

 /* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    border-radius: var(--border-radius);
    z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: var(--border-radius);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

svg {
    padding: 3%;
}

.frag-table svg {
    width: 10%;
    height: 15%;
}

#frag-canvas svg {
    width: 13%;
    height: 27%;
}

.merged-svg {
    width: 50% !important; 
}

#frag-8 {
    height: 30%;
    width: 30%;
}
